body {
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  
  .wrapper {
    background: linear-gradient(
      rgba(255, 255, 0, 0.751),
      rgba(0, 255, 106, 0.797)
    );
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* z-index: -2; */
  }
  .calculator {
    background: rgba(251, 249, 249, 0.5);
    width: 400px;
  
    border-radius: 5px;
    padding: 2rem 1.5rem;
  
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "display display display display"
      "ac c perc divide"
      "btn7 btn8 btn9 x"
      "btn4 btn5 btn6 minus"
      "btn1 btn2 btn3 plus"
      "btn0 btn0 dot equals";
  
    z-index: 99;
    backdrop-filter: blur(5px);
  }
